rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
     match /contacts/{contactsId} {
      allow create: if true;
  	}

    match /accounts/{accountsId} {
      allow read: if true;
  	}
  }
}